<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :first_name, class:"w-full text-sm border border-solid border-gray-400 p-2 mb-8 rounded focus:outline-none", placeholder: "First name"%>
  </div>

  <div class="field">
    <%= form.text_field :last_name, class:"w-full text-sm border border-solid border-gray-400 p-2 mb-8 rounded focus:outline-none", placeholder: "Last name"%>
  </div>

  <div class="field">
    <%= form.text_field :email, class:"w-full text-sm border border-solid border-gray-400 p-2 mb-8 rounded focus:outline-none", placeholder: "E-mail"%>
  </div>

  <div class="field">
    <%= form.text_field :phone, class:"w-full text-sm border border-solid border-gray-400 p-2 mb-8 rounded focus:outline-none", placeholder: "Phone"%>
  </div>

  <div class="field">
    <%= form.text_field :twitter, class:"w-full text-sm border border-solid border-gray-400 p-2 mb-8 rounded focus:outline-none", placeholder: "Twitter"%>
  </div>

  <button class="w-full mb-4 p-2 mx-auto rounded text-sm bg-gray-700 text-white hover:bg-gray-800 md:px-2 lg:mx-0 lg:w-1/6">
    <%= form.submit class: "bg-transparent font-bold cursor-pointer"%>
  </button>
<% end %>
